/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
} */
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container .contactInfo h2{
  font-size: 30px;
  font-weight: 500;

}
.commonBox{
  margin-top: 80px;
}
.container .contactInfo{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box{
  background-color: white;
  position: relative;
  margin: 20px 0px;
  width: 300px;
  height: 120px;
  border: 1px solid #979797;
  border-radius: 15px;
}
 a{
  cursor: pointer;
}
.box a:hover{
  background: #f0f0f0;
}

.contactForm{
width: 40%;
padding: 0px 40px 40px 40px; 
}
.contactForm h2{
  font-size: 30px;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
  background-color: #F0F0F0;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0 0;
  border:none;
  resize: none;
  border-bottom: 2px solid rgb(70, 70, 70);
  outline: none;
}
.contactForm .inputBox span{
  position: absolute;
  
  left:0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events:none;
  transition: 0.5s;
  color: #333333;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #f86c6c;
    font-size: 15px;
    transform: translateY(-25px);

}
.contactForm .inputBox input[type="Submit"],
[type = "button"]{
  width: 100px;
  background: #333333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

@media(max-width:991px) {
  .container .contactInfo h2{
    font-size: 20px;
    font-weight: 200;
    white-space: nowrap;
    padding-left: 90px;
  }
  .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }

  .container .contactForm{
    width: 80%;
  }
  
}

@media (max-width:700px){
  .contactInfo h2{
    padding: 0px;
  }
.container .contactInfo{
  
  width:100%;
  align-items: center;
}
.name p{
  display: flex;
  flex-direction: column;
}
}